@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
body {
    font-family: Poppins;
    font-weight: 300;
    background-color: #f3f3f3;
    background: url('https://c.pxhere.com/photos/9c/92/sky_clouds_sch_fchenwolke_background_desktop_background_wallpaper_background_image_cloudscape-1416259.jpg!d') center/cover;
    background-repeat: no-repeat;
  }
  
  .contenedor {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top:9%;
  }
  
  h1 {
    color: #3f46d2;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 70%;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3a12c1;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  #datosClima {
    margin-top: 20px;
    font-size: 18px;
  }
  